/* Fonts */

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Variables */

:root {
  --black: #000000;
  --black-light: #333333;
  --black-lighten: #666666;
  --grey: #EEEEEE;
  --grey-light: #EBEBEB;
  --grey-lighten: #F2F2F2;
  --white: #FFFFFF;
  --accent-1: #81b3d2;
  --accent-1-dark: #669ec0;
  --accent-1-darken: #5496bd;
  --accent-2: #766357;
  --accent-2-dark: #604E43;
  --accent-2-darken: #503e33;
}

/* Global */

.page-body {
min-width: 960px;
margin: 0;
padding: 0;
font-family: "PT Sans", sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: normal;
color: var(--black);
text-transform: uppercase;
background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  background-color: white;
}

.main-navigation-wrapper {
  background-color: var(--white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--black);
}

/* Features */

.features-list {
  list-style: none;
}
.feature-item {
text-align: center;
}
.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.search {
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--accent-2);
}

/* Button */

.button {
font: inherit;
text-align: center;
color: var(--white);
vertical-align: middle;
text-transform: uppercase;
background-color: var(--accent-1);
border: none;
}
.button:hover {
  background-color: var(--accent-1);
}
.button:focus {
  background-color: var(--accent-1-dark);
}
.button:active {
  background-color: var(--accent-1-darken);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Hotel search */

.hotel-search-item input {
  font: inherit;
  background-color: var(--grey-lighten);
  border: none;
}
.hotel-search-item input:hover {
  background-color: var(--grey-light);
}
.hotel-search-item input:focus {
  background-color: var(--white);
}

/* Main footer */

.main-footer {
color: var(--black);
background-color: var(--white);

}
