/* Fonts */

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Variables */

:root {
  --black: #000000;
  --black-light: #333333;
  --black-lighten: #666666;
  --grey: #EEEEEE;
  --grey-light: #EBEBEB;
  --grey-lighten: #F2F2F2;
  --white: #FFFFFF;
  --accent-1: #81b3d2;
  --accent-1-dark: #669ec0;
  --accent-1-darken: #5496bd;
  --accent-2: #766357;
  --accent-2-dark: #604E43;
  --accent-2-darken: #503e33;
  --button-disabled: #6a6a6a;
}

/* Global */

.page-body {
font-family: "PT Sans", Arial, sans-serif;
font-size: 14px;
line-height: 26px;
font-weight: normal;
color: var(--black);
text-transform: uppercase;
background-color: var(--white);
min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  text-align: center;
  justify-self: center;
}

/* Grid */

.page {
  height: 100%;
}


/* Grid for pages */


/* Main header */

.main-header {
  margin-bottom: 78px;
}


/* Main navigation */

.main-navigation {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

.site-navigation,
.site-navigation a {
  color: var(--black);
  list-style: none;
  text-decoration: none;
}

.active-navigation a {
  color: var(--accent-2);
}

.site-navigation-current a:hover {
  color: var(--accent-1);
}

.site-navigation-current a:active {
  color: var(--black-lighten);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  justify-self: center;
}

.container h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.container-description {
  font-size: inherit;
  line-height: inherit;
  text-align: center;
}


/* Features */


.features-list {
list-style: none;
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
}

.feature-item-accent {
width: 400px;
padding: 10px;
box-sizing: border-box;
}

.feature-item:nth-child(1), .feature-item:nth-child(2) {
 width: 100%;
}
.features-first {
  list-style: none;
  display: flex;
  background-color: inherit;
  color: inherit;
}
.features-first .feature-item {
  width: 400px;
  padding: 10px;
  box-sizing: border-box;
  color: var(--black);
  background-color: var(--white);
}


/*
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  justify-self: center;
}

.real-town {
  grid-column: 1 / -1;
}

.feature-item p {
margin: 0 10px;
}

.feature-item {
font-size: 21px;
line-height: 21px;
color: inherit;
text-align: center;
color: var(--black);
background-color: var(--white);
}

*/

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.description {
  font-size: 14px;
  line-height: 21px;
}

.feature-item-accent {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--grey);
  text-align: center;
}

.real-town {
  font-size: 21px;
  line-height: 21px;
  color: var(--white);
  background-color: var(--accent-1);
  text-align: center;
}

/* Hotel search */

.hotel-search h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

.hotel-search-description {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
}

.hotel-search-info {
  font-size: 21px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--accent-2);
  border: none;
  width: 568px;
  margin: 0 316px;
  justify-self: center;
}
.hotel-search-info:hover {
  background-color: var(--accent-2-dark);
}
.hotel-search-info:active {
  background-color: var(--accent-2-darken);
}
.hotel-search-form {
  text-align: center;
}

.hotel-search-item input {
  font: inherit;
  background-color: var(--grey-lighten);
  border: none;
}
.hotel-search-item input:hover {
  background-color: var(--grey-light);
}
.hotel-search-item input:focus {
  background-color: var(--white);
}


/* Button */

.button {
font-size: 21px;
line-height: 26px;
text-align: center;
color: var(--white);
vertical-align: middle;
text-transform: uppercase;
background-color: var(--accent-1);
border: none;
width: 458px;
}
.button {
  background-color: var(--accent-1);
}
.button:hover {
  background-color: var(--accent-1-dark);
}
.button:active {
  background-color: var(--accent-1-darken);
}

/* Contacts */

.contacts-phone {
  color: inherit;
}


/* Main footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  justify-self: center;
  font-weight: bold;
}

.footer-contacts a {
  color: inherit;
  text-decoration: none;
}

.footer-social {
  justify-self: center;
  text-align: center;
}

.footer-social ul {
  list-style: none;
  justify-self: center;
}


/* Social-button */

.social-button {
  color: var(--accent-1);
}

.social-button:hover,
.social-button:focus {
  color: var(--white);
  background-color: var(--accent-1-dark);
}

.footer-copyright {
  justify-self: center;
}

.footer-copyright .button {
  color: inherit;
  background-color: inherit;
}


/* Catalog filter */

.filter {
  color: var(--white);
  background-color: var(--accent-1);
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.filter-input-checkbox:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--button-disabled);
}

.sorting-list {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/* Catalog */

.house-list {
  list-style: none;
}
.house-list a {
  color: inherit;
}
.house-item a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}
.house-item a:hover {
color: var(--accent-1);
}
.house-item a:active {
  color: var(--grey-light);
}
.house-item-description {
  font-size: 14px;
  line-height: 21px;
  color: var(--black-light)
}
.rating {
  color: var(--black-lighten);
  background-color: var(--grey-lighten);
  font-weight: normal;
}

/* Button */


.button-details {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--accent-1);
  border: none;
}
.button-details:hover {
  background-color: var(--accent-1-dark);
}
.button-details:active {
  background-color: var(--accent-1-darken);
}
.button-booking {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--accent-2);
  border: none;
}
.button-booking:hover {
  background-color: var(--accent-2-dark);
}
.button-booking:active {
  background-color: var(--accent-2-darken);
}
.button-filter {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background-color: transparent;
  border: oldlace;
  justify-self: center;
}

.button-filter:hover {
  color: var(--black);
  background-color: var(--white);
}


/* Sorting */

.sorting h1 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-list a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.sorting-list a:hover,
.sorting-list:focus {
  color: var(--accent-1);
}

.sorting-list a:active {
  color: var(--black);
}

.active-sorting a {
  color: var(--accent-1);
}

/* Flex */

.house-list {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}


.house-item {
  width: inherit;
  min-height: 150px;
  margin-bottom: 55px;
}

.house-item h3 {
  margin-top: 23px;
  margin-right: 723px;
  margin-bottom: 7px;
  margin-left: 237px;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item-image {
  width: 135px;
  height: 90px;
  margin: 0;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter fieldset:nth-child(1) {
  padding-left: 72px;
}

.filter-item {
  margin-bottom: 25px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.filter legend {
  margin-bottom: 24px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  width: 138px;
  height: 70px;

}

.main-header .container {
  display: flex;
}

.site-navigation {
  width: inherit;
}

.button-details {
  display: inline-block;
  margin-right: 10px;
}

.hotel-search-form {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 568px;
  margin-left: 315px;
  margin-top: 55px;
  align-content: center;
  justify-self: center;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 24px;
}

.hotel-search-item {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: bold;
  justify-self: center;
}

.hotel-search-item input {
  width: 346px;
}

.button {
  margin-top: 54px;
  margin-right: 54px;
}

.filter-form {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  justify-self: center;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  margin-bottom: 36px;
  margin-top: 29px;
  padding: 0;
  margin: 0;
}
.sorting-list a {
  margin-right: 30px;
}

