/* Fonts */

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* Variables */

:root {
  --black: #000000;
  --black-light: #333333;
  --black-lighten: #666666;
  --grey: #EEEEEE;
  --grey-light: #EBEBEB;
  --grey-lighten: #F2F2F2;
  --white: #FFFFFF;
  --accent-1: #81b3d2;
  --accent-1-dark: #669ec0;
  --accent-1-darken: #5496bd;
  --accent-2: #766357;
  --accent-2-dark: #604E43;
  --accent-2-darken: #503e33;
}

/* Global */

body {
min-width: 960px;
margin: 0;
padding: 0;
font-family: "PT Sans", sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: normal;
co
}
